<% layout('/layouts/boilerplate.ejs') -%>

<div class="row">
  <div class="col-6 offset-3">
    <br>
    <h3 class="mt-2 mb-5 text-center" >Create a new Listing</h3>
    <form method="POST" action="/listings" noValidate class="needs-validation" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input
          type="text"
          name="listing[title]"
          class="form-control"
          placeholder="enter title"
          required
        />
        <div class="valid-feedback">Title Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea name="listing[description]" required class="form-control"></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>


      <div class="mb-3">
        <label for="image" class="form-label">Upload ListingImage</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Price</label>
          <input
            
            name="listing[price]"
            placeholder="Enter Price"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid</div>
        </div>

        <div class="mb-4 col-md-8">
          <label for="title" class="form-label">Country</label>
          <input
            type="text"
            name="listing[country]"
            placeholder="Enter Country"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country should be valid</div>
        </div>
      </div>

      <div class="mb-4">
        <label for="title" class="form-label">Location</label>
        <input
          type="text"
          name="listing[location]"
          placeholder="Enter Location"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="btn btn-dark add-btn mb-4" required>ADD</button>
      <br><br>
    </form>
  </div>
</div>

<script src="/js/script.js"></script>